*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-responsive{
    width: 100%;
}

.img-curve{
    border-radius: 15px;
}

.img-border{
    border: 2px solid black;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #FF1B3D;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
    text-decoration: underline;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #FF1B3D;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 33%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSS for navbar section */

.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* CSS for Item Search Section */

.item-search{
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

/* For Item order */
.order-page{
    background-image: url(images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-order{

    border-radius: 5px;
}

/* CSS for Categories */
.categories{
    padding: 0% 0;
}

.box-3{
    text-align: center;
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for item Menu */
.item-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.item-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.item-menu-img{
    width: 20%;
    float: left;
}

.item-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.item-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.item-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    /* border: none; */
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

.prescription-req{
    font-weight: bold;
    color: red;
}
.inlineblock{
    display: inline-block;
}